@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
* {
    box-sizing: border-box;
    font-weight: normal;
    scroll-behavior: smooth;
}

body {
    color: #555;
    background: #222;
    text-align: center;
    font-family: "Roboto Mono";
    padding-left: -20px;
    padding-bottom: 80px;
    padding-top: 40px;
    margin: 0;
}

h1 {
    font-size: 2.2em;
}

h4 {
    font-size: 30px;
}

.flip {
    position: relative;
}
.flip > .front,
.flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}
.flip > .front {
    transform: rotateX(0deg);
}
.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateX(-180deg);
}
.flip:hover > .front {
    transform: rotateX(180deg);
}
.flip:hover > .back {
    opacity: 1;
    transform: rotateX(0deg);
}


.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 400px;
}

.flip > .front p,
.flip > .back p {
    font-size: 0.9125rem;
    line-height: 160%;
    color: #999;
}

.text-shadow {
    text-shadow:
        1px 1px rgba(0, 0, 0, 0.04),
        2px 2px rgba(0, 0, 0, 0.04),
        3px 3px rgba(0, 0, 0, 0.04),
        4px 4px rgba(0, 0, 0, 0.04),
        0.125rem 0.125rem rgba(0, 0, 0, 0.04),
        6px 6px rgba(0, 0, 0, 0.04),
        7px 7px rgba(0, 0, 0, 0.04),
        8px 8px rgba(0, 0, 0, 0.04),
        9px 9px rgba(0, 0, 0, 0.04),
        0.3125rem 0.3125rem rgba(0, 0, 0, 0.04),
        11px 11px rgba(0, 0, 0, 0.04),
        12px 12px rgba(0, 0, 0, 0.04),
        13px 13px rgba(0, 0, 0, 0.04),
        14px 14px rgba(0, 0, 0, 0.04),
        0.625rem 0.625rem rgba(0, 0, 0, 0.04),
        16px 16px rgba(0, 0, 0, 0.04),
        17px 17px rgba(0, 0, 0, 0.04),
        18px 18px rgba(0, 0, 0, 0.04),
        19px 19px rgba(0, 0, 0, 0.04),
        1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

/* navigation */
.cover {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
}
/* ------------- */
.sub-menu {
    position: fixed;
    top: 20px;
    height: 46px;
    width: 46px;
    margin-left: 0;
}

.sub-menu-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1002;
    background: #111;
}

.sub-menu-icon {
    position: fixed;
    width: 20px;
    height: 20px;
    margin: auto;
    left: 38px;
    top: 25px;
 
}

/* ------------- */
.menu-bar {
    background-color: #fff;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s ease-in-out;
}
.menu-bar-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}
.menu-bar-3 {
    bottom: 0;
}
.menu-bar-4 {
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(90deg);
}
.sub-menu.open .menu-bar-1 {
    transform: translateY(10px) translateY(-50%) rotate(-45deg);
}
.sub-menu.open .menu-bar-2 {
    opacity: 0;
}
.sub-menu.open .menu-bar-3 {
    transform: translateY(-10px) translateY(50%) rotate(45deg);
}
.sub-menu.open .menu-bar-4 {
    opacity: 0;
}

/* ------------- */
.sub-menu-circle {
    background-color: tomato;
    position: absolute;
    transform: scale(1);
    z-index: 1000;
    transition:
        transform 0.3s ease-in-out,
        width 0.3s ease-in-out,
        height 0.3s ease-in-out;
}
.sub-menu.open .sub-menu-circle {
    transform: scale(2);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* ------------- */
.sub-menu-overlay {
    color: #333;
    width: 50vw;
    height: 100vh;
    position: fixed;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-menu-overlay.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
}
.sub-menu-list {
    margin-top: 6em;
    margin-left:;
    list-style: none;
}
.sub-menu-list li {
    margin: 1.5em;
}
.sub-menu-list li a {
    color: #fff;
    font-size: 1.5em;
    fontweight: 700;
    text-align: center;
    position: abusolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: all 0.1.25s ease;
    text-decoration: none;
}
.sub-menu-list li a:hover {
    border-bottom: 3px solid #fff;
}

@media (min-width: 1300px) {
    .flip {
        width: 350px;
    }

    .flip > .front,
    .flip > .back {
        display: block;
        color: white;
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 410px;
        padding: 1em 2em;
        background: #313131;
        border-radius: 10px;
    }
    .sub-menu {
        top: 10px;
    }

    .sub-menu-icon {
        width: 15px;

        height: 15px;
    }

    .menu-bar {
        height: 1.5px;
    }

    .sub-menu-overlay {
        width: 70vw;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .flip {
        width: 320px;
    }

    .flip > .front,
    .flip > .back {
        display: block;
        color: white;
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 400px;
        padding: 1em 2em;
        background: #313131;
        border-radius: 10px;
    }
    .sub-menu {
        top: 10px;
    }

    .sub-menu-icon {
        width: 15px;

        height: 15px;
    }

    .menu-bar {
        height: 1.5px;
    }

    .sub-menu-overlay {
        width: 70vw;
    }
}
/* Mobile */
@media (max-width: 480px) {
    .flip {
        width: 340px;
    }

    .flip > .front,
    .flip > .back {
        display: block;
        color: white;
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 430px;
        padding: 1em 2em;
        background: #313131;
        border-radius: 10px;
    }

    .sub-menu {
        top: 5px;
    }

    .sub-menu-icon {
        width: 10px;
        height: 10px;
    }

    .menu-bar {
        height: 1px;
    }

    .sub-menu-overlay {
        width: 90vw;
    }
}
